{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site exemplo {% block title %}{% endblock title %} </title>
        <link rel="stylesheet" href={% static "global/css/style.css" %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include "global/partials/menu.html" %}
        <h1>{% block texto %}BASE{% endblock texto %}</h1>
        
        <div class="content">
            {% block posts %}{% endblock posts %}
        </div>
    </body>
</html>